<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta charset="UTF-8" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<title>CVD<% if(debug) { %>-dev<% } %></title>
	</head>
	<body style="overflow-y: scroll; margin: 12px;">
		<div id="root"></div>
	</body>
	<script type="text/javascript" charset="UTF-8" src="/app/js/app.js"></script>
</html>
