openapi: 3.0.1
info:
  title: Swagger CVD
  description: CVD api description
  version: 1.0.0
servers:
- url: http://{host}:{port}/api/v1
  variables:
    host:
      default: localhost
    port:
      default: "10081"
tags:
- name: file
  description: File operation
- name: vocabulary
  description: Vocabulary data operation
paths:
  /upload:
    post:
      tags:
      - file
      summary: Upload the file to the server
      description: |
        Uploads the file selected by the client to the server.
        When editing_vocabulary is uploaded, it checks integrity. 
      operationId: upload_file
      requestBody:
        description: Select the file to be uploaded.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Upload'
      responses:
        "200":
          description: "Upload is complete.  \nIf the client uploads the vocabulary\
            \ data, call the load API.\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        "400":
          description: |
            File Format Error.
            ex. Invalid file uploaded.
            Set the error file name for the message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                result: 0
                message: editing_vocabulary.csv
        "404":
          description: |
            Database Error.
            ex. Database is timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                result: 0
                message: Database connection timeout.
        "409":
          description: |
            Integrity check Error.
            phase : Returns the phase in which the error occurred.
            "2" means it was in the preferred_label check phase error.
            "3" means it was in the uri check phase error.
            "4" means it was in the broader_term check phase error.
            terms : Returns terms in which the error occurred.
            reason : Returns the check error reason code.
            If phase is 2 and reason is 0, the client will display
            "同義関係と思われる、用語a,b,cの代表語を1つに揃えてください".
            If phase is 3 and reason is 0, the client will display
            "用語a,b,cの代表語のURIの個数を1つに絞ってください".
            If phase is 3 and reason is 1, the client will display
            "用語a,b,cの代表語のURIを統一してください".
            If phase is 3 and reason is 2, the client will display
            "代表語a,b,cについて、同じ代表語のURIが設定されています。代表語のURIを修正してください".
            If phase is 3 and reason is 3, the client will display
            "用語a,b,cの代表語のURIを1つに揃えてください".
            If phase is 4 and reason is 0, the client will display
            "代表語aの上位語の代表語が一致するように上位語を修正してください".
            If phase is 4 and reason is 1, the client will display
            "代表語a,b,cは、関係性が循環しています。上位語を修正してください。".
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckErrorResponse'
              example:
                phase: 2
                terms:
                - a
                - b
                - c
                reason: 0
      x-swagger-router-controller: swagger_server.controllers.file_controller
      x-codegen-request-body-name: body
      x-openapi-router-controller: swagger_server.controllers.file_controller
  /download/{file_type}:
    get:
      tags:
      - file
      summary: Download the file from the server
      operationId: download_file
      parameters:
      - name: file_type
        in: path
        description: |
          Specify for editing_vocabulary or editing_vovabulary_meta or controlled_vocabulary.   
          In case of editing_vocabulary, it will download editing vocabulary file.  
          In case of editing_vocabulary_meta, it will download editing vocabulary meta file.  
          In case of controlled_vocabulary, it will download controlled vocabulary file.   
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: out_format
        in: query
        description: |
          Specify the file format.  
          In case of editing_vocabulary, format is csv.
          In case of controlled_vocabulary, format is n3, nquads, nt, trix, turtle, xml, json-ld.
        required: true
        style: form
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: |
            Download is complete.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                x-content-type: application/octet-stream
        "400":
          description: |
            Bad Request
            ex. Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: "Not Found  \nex. Download file not found.\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-swagger-router-controller: swagger_server.controllers.file_controller
      x-openapi-router-controller: swagger_server.controllers.file_controller
  /vocabulary/{file_type}:
    get:
      tags:
      - vocabulary
      summary: Get vocabulary data by type
      operationId: get_vocabulary_data
      parameters:
      - name: file_type
        in: path
        description: |
          Specify for editing_vocabulary, reference_vocabulary1, etc.
          In case of editing_vocabulary, it downloads editing vocabulary data.
          In case of reference_vocabulary1, it downloads reference vocabulary1 data.
          In case of reference_vocabulary2, it downloads reference vocabulary2 data.
          In case of reference_vocabulary3, it downloads reference vocabulary3 data.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: |
            Get vocabulary data is Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllSuccessResponse'
        "400":
          description: |
            Bad Request
            ex. Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: "Not Found  \nex. Download file not found.\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-swagger-router-controller: swagger_server.controllers.vocabulary_controller
      x-openapi-router-controller: swagger_server.controllers.vocabulary_controller
  /vocabulary/{file_type}/{term}:
    get:
      tags:
      - vocabulary
      summary: Get editing vocabulary term
      operationId: get_vocabulary_term
      parameters:
      - name: file_type
        in: path
        description: "Specify only editing_vocabulary.  \n'editing_vocabulary' get\
          \ editing vocabulary data.  \n"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: term
        in: path
        description: |
          Specify the term to request.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: |
            Return to vocabulary data.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EditingVocabulary'
                x-content-type: application/json
        "400":
          description: |
            Bad Request
            ex. Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: "Not Found  \nex. Request term not found.\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-swagger-router-controller: swagger_server.controllers.vocabulary_controller
      x-openapi-router-controller: swagger_server.controllers.vocabulary_controller
    post:
      tags:
      - vocabulary
      summary: Add or Update editing vocabulary terms
      operationId: post_vocabulary_term
      parameters:
      - name: file_type
        in: path
        description: "Specify only editing_vocabulary.  \n'editing_vocabulary' get\
          \ editing vocabulary data.  \n"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: term
        in: path
        description: Specify the update term
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/EditingVocabulary'
        required: true
      responses:
        "200":
          description: |
            Add or Update editing vocabulary data success.
            Return updated EditingVocabulary list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EditingVocabulary'
        "400":
          description: |
            Bad Request
            ex. Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: "Not Found  \nex. Request term not found.\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-swagger-router-controller: swagger_server.controllers.vocabulary_controller
      x-openapi-router-controller: swagger_server.controllers.vocabulary_controller
      x-codegen-request-body-name: body
components:
  schemas:
    Upload:
      type: object
      properties:
        editing_vocabulary:
          type: string
          description: editing_vocabulary is a csv file
          format: binary
        editing_vocabulary_meta:
          type: string
          description: editing_vocabulary_meta is a csv file
          format: binary
        reference_vocabulary1:
          type: string
          description: reference_vocabulary1 is a csv file
          format: binary
        reference_vocabulary2:
          type: string
          description: reference_vocabulary2 is a csv file
          format: binary
        reference_vocabulary3:
          type: string
          description: reference_vocabulary3 is a csv file
          format: binary
    EditingVocabulary:
      type: object
      properties:
        id:
          type: integer
          format: int64
        term:
          type: string
        preferred_label:
          type: string
        language:
          type: string
        uri:
          type: string
        broader_term:
          type: string
        synonym:
          type: array
          items:
            type: string
        other_voc_syn_uri:
          type: string
        term_description:
          type: string
        created_time:
          type: string
        modified_time:
          type: string
        synonym_candidate:
          type: array
          items:
            type: string
        broader_term_candidate:
          type: array
          items:
            type: string
        postion_x:
          type: string
        postion_y:
          type: string
        color1:
          type: string
        color2:
          type: string
      example:
        id: 1
        term: os
        preferred_label: os
        language: ja
        uri: http://test/0/os
        broader_term: http://myVocab/3
        synonym: オペレーティングシステム
        other_voc_syn_uri: http://otherVocab/16
        term_description: 用語の説明です
        created_time: "2021-04-02T12:43:02Z"
        modified_time: "2021-04-08T16:07:59Z"
        synonym_candidate: 基本ソフト
        broader_term_candidate: プログラム
        postion_x: "100"
        postion_y: "100"
        color1: black
        color2: black
    EditingVocabularyMeta:
      type: object
      properties:
        id:
          type: integer
          format: int64
        meta_name:
          type: string
        meta_enname:
          type: string
        meta_version:
          type: string
        meta_prefix:
          type: string
        meta_uri:
          type: string
        meta_description:
          type: string
        meta_endescription:
          type: string
        meta_author:
          type: string
      example:
        id: 1
        meta_name: 名称
        meta_enname: name
        meta_version: 1.0.0
        meta_prefix: my
        meta_uri: http://myVocab/
        meta_description: テスト用の語彙です
        meta_endescription: The vocabulary for test
        meta_author: Yasutaka Moriwaki
    ReferenceVocabulary:
      type: object
      properties:
        id:
          type: integer
          format: int64
        term:
          type: string
        preferred_label:
          type: string
        language:
          type: string
        uri:
          type: string
        broader_term:
          type: string
        other_voc_syn_uri:
          type: string
        term_description:
          type: string
        created_time:
          type: string
        modified_time:
          type: string
        postion_x:
          type: string
        postion_y:
          type: string
      example:
        id: 1
        term: linux
        preferred_label: linux
        language: en
        uri: http://test/8/linux
        broader_term: http://myVocab/3
        other_voc_syn_uri: http://otherVocab/16
        term_description: 用語の説明です
        created_time: "2021-04-02T12:43:02Z"
        modified_time: "2021-04-08T16:07:59Z"
        postion_x: "100"
        postion_y: "100"
    GetAllSuccessResponse:
      type: object
      properties:
        EditingVocabulary:
          type: array
          items:
            $ref: '#/components/schemas/EditingVocabulary'
        EditingVocabularyMeta:
          type: array
          items:
            $ref: '#/components/schemas/EditingVocabularyMeta'
        ReferenceVocabulary:
          type: array
          items:
            $ref: '#/components/schemas/ReferenceVocabulary'
      example:
        EditingVocabulary:
        - id: 1
          term: os
          preferred_label: os
          language: ja
          uri: http://test/0/os
          broader_term: http://myVocab/3
          synonym: オペレーティングシステム
          other_voc_syn_uri: http://otherVocab/16
          term_description: 用語の説明です
          created_time: "2021-04-02T12:43:02Z"
          modified_time: "2021-04-08T16:07:59Z"
          synonym_candidate: 基本ソフト
          broader_term_candidate: プログラム
          postion_x: "100"
          postion_y: "100"
          color1: black
          color2: black
        EditingVocabularyMeta:
        - id: 1
          meta_name: 名称
          meta_enname: name
          meta_version: 1.0.0
          meta_prefix: my
          meta_uri: http://myVocab/
          meta_description: テスト用の語彙です
          meta_endescription: The vocabulary for test
          meta_author: Yasutaka Moriwaki
        ReferenceVocabulary:
        - id: 1
          term: linux
          preferred_label: linux
          language: en
          uri: http://test/8/linux
          broader_term: http://myVocab/3
          other_voc_syn_uri: http://otherVocab/16
          term_description: 用語の説明です
          created_time: "2021-04-02T12:43:02Z"
          modified_time: "2021-04-08T16:07:59Z"
          postion_x: "100"
          postion_y: "100"
    SuccessResponse:
      type: object
      properties:
        message:
          type: string
      example:
        message: request is success.
    ErrorResponse:
      type: object
      properties:
        result:
          type: integer
        message:
          type: string
    CheckErrorResponse:
      type: object
      properties:
        phase:
          type: integer
        terms:
          type: array
          items:
            type: string
        reason:
          type: integer
