@charset "utf-8";
/* CSS Document */

/************ メニューブロックの設定 ************/
nav {
    text-align: left;
    width: 200px;
    height: 100%;
    background-color: #092641;
    color: #fff;
    text-align: center;
    position: fixed;
    z-index: 99;
    overflow:auto;
}
nav::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
nav::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
nav::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.15);
}
nav a{color: #fff;}
nav dl {
    text-align: left;
    margin: 0;
    padding: 0;
}
nav dl dt{
    font-size: 12pt;
    padding: 5px 10px 4px 20px;
    margin-top: 5px;
    background-color: #707070;
    font-weight: 600;
}
nav dl dt:first-child {margin-top: 0;}
nav dl dd{
    font-size: 12pt;
    margin: 0;
    padding: 3px 10px 2px 20px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 5px;
}
nav ul li{
    margin: 0;
    font-size: 9pt;
    line-height: 1.1;
}
nav ul li b{
    font-size: 28pt;
    font-weight: 600;
}
@media screen and (max-height: 580px) {
    nav dl dt,nav dl dd {font-size: 2.5vh;}
    nav ul {position: relative; margin-top: 10px;}
}

/************ コンテンツブロックの設定 ************/

#Content {
    width: calc(100% - 200px);
    margin-left: 200px;
    text-align: center;
}

/************ コンテンツのフォントサイズを変更するには以下を調整 ************/
body, html {font-size: 14px;}
/************************************************************************/

.section{
    padding: 2.5vw;
    text-align: left;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto 10vh;
    overflow: hidden;
}
.section h1 {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}
.section p {
    font-size: 1.4rem;
    margin-bottom: 2vh;
}
.section p em {
    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
}
.section .Emp {
    font-size: 1.4rem;
    font-weight: 600;
}
.section p.Emp {line-height: 1.35;}

.section .red {
    color: #FF0000;
    font-style: normal;
}

.section .Img{
    position: relative;
    margin: 10vh 0 0;
    max-width: 100%;
}
.section .margin0{margin: 0;}

.section .descr {
    font-size: 0.85em;
    font-weight: 400;
}
.section .Descr {line-height: 1.3;}
.section .Descr li {margin-bottom: 1em;}
.section .Attention {
    list-style: none;
    line-height: 1.3;
    padding-left: 1em;
    text-indent: -1em;
    margin-left: 1em;
}
.section .Attention li {margin-bottom: 0.3em;}

.Img p{
    position: absolute;
    font-weight: 600;
}
.Img figure {
    overflow: hidden;
    text-align: center;
}
.Img img {
    width: 100%;
    max-width: 950px;
}

.section .BalloonRight {
    position: absolute;
    padding: 1.5% 2.5%;
    background: #E1EC7E;
    border-radius: 15px;
    width: 50%;
    left: 5%;
    top: 15%;
}
.section .BalloonRight:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border: 10px solid transparent;
    border-left: 20px solid #E1EC7E;
}
.section .BalloonRight p {
    font-size: 1.75vw;
    line-height: 1.3;
    position: relative;
    color: #366999;
    margin: 0.5em 0;
}
@media screen and (min-width: 1100px) {
    .section .BalloonRight p {font-size: 1.6rem;}
}


.section #HensyuPanel{overflow: hidden;}
.section #HensyuPanel ol{
    list-style: none;
    font-weight: 600;
    font-size: 1.1rem;
    padding-left: 1.3em;
    text-indent: -1.3em;
    width: 40%;
    float: left;
    margin: 0;
}
.section #HensyuPanel .Img{
    margin: 1em 0;
    width: 50%;
    float: right;
}
.section #HensyuPanel .Img p{
    font-size: 1.6vw;
    line-height: 1;
    color: #FF0000;
    margin: 0;
}

#Section09 ol {
    font-size: 1.25rem;
}

#Section20 table {
    border-collapse: separate;
    border-spacing: 0px;
    font-size: 1.1rem;
}
#Section20 td {
    border-bottom: solid 1px #999;;
    padding: 0.7em 1em 0.5em;
}
#Section20 th {
    border-bottom: solid 1px #333;;
    background-color: #f6f6f6;
    padding: 0.2em 1em 0.1em;
}

